.text{
    margin:1px;
    width:25.33%;
}
.textOne{
    margin:1px;
    width:25.33%;
}
.textTwo{
    float: left;
    margin:1px;
    width:25.33%;
}
.textThree{
    float: left;
    margin:1px;
    width:25.33%;
}
.container{
    margin-top: 10%;
    margin-left: 5%;
}
.btn{
    margin:1px;
    width:25.33%;
}
h4{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px;   
}